@charset "UTF-8";

.window {
  animation: .25s color-picker-background-show ease-out;
  background-color: rgba(248, 248, 248, 0.96);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -185px;
  overflow: hidden;
  position: absolute;
  width: 400px;
  height: 370px;

  &.dismiss {
    animation: .25s color-picker-background-dismiss ease-in;
  }
}

.header {
  width: 100%;
  height: 64px;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 44px;
  background-color: #fafaff;
  border-bottom: 1px solid lightgray;
  cursor: default !important;
  user-select: none !important;
  flex-grow: 0;

  &:active {
    cursor: default;
  }
}

.body {
  width: 100%;
  top: 71px;
  left: 0;
  flex-grow: 1;
  overflow-y: scroll;
}

.container {
  overflow-x: hidden !important;
  overflow-y: auto;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .25s background-color ease-in;
  animation: .25s color-picker-wrapper-show ease-out;
  user-select: none;

  &.dismiss {
    animation: .25s color-picker-wrapper-dismiss ease-in;
  }
}
